<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--===========================Bootstrap 4 CDN Link=======================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--CSS Link-->
    
    <link rel="stylesheet" href="/css/App.css">
    
    

    <!--Google Font Link-->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <title>Sign Up</title>

</head>
<body>
    <br><br><br>

    <div class="container bg card">
        <form method="POST">
            <table border="0" class="form-Center">
                <tr class="header">
                    <td>
                        <img src="/images/Logo.png">
                        
                    </td>
                    <td>
                        <h1 class=font-Create>Create Account</h1>
                    </td>
                </tr>
                
                <tr height="60px">
                    <td class="font-Normal">
                        Full Name
                    </td>
                    <td>
                        <input type="text" name ="fullName" class="txt-Box" id="name"  >
                    </td>
                    <td id="msgName"></td>
                </tr>
        
                <tr height="60px">
                    <td class="font-Normal">
                        AIUB ID
                    </td>
                    <td>
                        <input type="text" name ="aiubId" class="txt-Box" id="id"  >
                    </td>
                    <td id="msgID"></td>
                </tr>
                
                <tr height="60px">
                    <td class="font-Normal">
                        Type
                    </td>
                    <td>
                        <select class="txt-Box" id="chkStatus" name="type" >
                            <option disabled selected hidden>Select Status</option>
                            <option>Faculty</option>
                            <option>Alumni</option>
                            <option>Student</option>
                        </select>
                    </td>
                    <td id="msgStatus"></td>
                </tr>
        
                <tr height="60px">
                    <td class="font-Normal">
                        Department
                    </td>
                    <td>
                        <select class="txt-Box" id="chkStatus" name="department">
                            <option disabled selected hidden>Select Department</option>
                            <option>Faculty of Science and Technology</option>
                            <option>Faculty of Engineering</option>
                            <option>Faculty of Business Administrator</option>
                            <option>Faculty of Arts and Social Science</option>
                        </select>
                    </td>
                    <td id="msgStatus"></td>
                </tr>
        
        
                <tr height="60px">
                    <td class="font-Normal">
                        Email
                    </td>
                    <td>
                        <input type="email" name="mail" class="txt-Box" id="email" required >
                    </td>
                    <td id="msgEmail"></td>
                </tr>
        
        
                <tr height="60px">
                    <td class="font-Normal">
                        Set Username
                    </td>
                    <td>
                       <input type="text" class="txt-Box" name="username" id="username"> 
                    </td>
                    <td id="msgUserName"></td>
                </tr>
        
                <tr height="60px">
                    <td class="font-Normal">
                        Password
                    </td>
                    <td>
                        <input type="password" class="txt-Box" name="password" id="password" >
                    </td>
                    <td id="msgPassword"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <center>
                            <input type="submit" name="submit" class="btn btn-success" value="SignUp"><br><br>
                            <a href="/login">Go to Login</a>
                        </center>
                    </td>
                </tr>
            </table>
        </form>
        <br><br>
    </div>
</body>
</html>