<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--===========================Bootstrap 4 CDN Link=======================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--Google Fonts Link-->
    <link href="https://fonts.googleapis.com/css?family=Cuprum|El+Messiri|Lobster&display=swap" rel="stylesheet">

    <!--CSS Link-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/App.css">
    <link rel="stylesheet" href="/css/Admin.css">

    <title>Edit Profile</title>
</head>
<body class="studentProfileBody">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand" href="/adminhome">  Nazib Mahfuz &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    
                  <a class="nav-link" href="/adminhome">
                    <button class="btn btn-light">
                        Home
                    </button>
                    <span class="sr-only">(current)</span></a>
                </li>
            </div>
        </nav>

        <br><br><br>

        <div class="row">
            <!--Left Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
            </div>

            <!--Middle Part-->
            <div class="col-sm-8 bg card">
                <!--Profile Picture Section-->
                <br>
                <center>
                    <div class="container">
                        <img src="/images/n2.JPG" class="rounded-circle" height="200px" width="30%">
                    </div>
                </center>
                <br>
                <center>
                    <a href="/adminhome/profile"><button class="btn btn-info">View Profile</button> </a>
                </center>
                <!--Profile Picture File Choose-->
                <center>
                
                    <br>
                    <div class="input-group">
                        
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose Profile Picture</label>
                        </div>
                        <div class="input-group-prepend">
                            <input type="submit" class="btn btn-success" value="Upload Profile Picture">
                          </div>
                      </div>
                </center>
                <br><br>
            </div>

            <!--Right Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
            </div>
        </div>

        <br>
        <!--Information Part-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <br>
                    <table border="0" width="100%">
                        <tr>
                            <td class="font-Normal" width="15%">
                                Name
                            </td>
                            <td>
                                <input type="text" class="txt-Box" name ="name" value="">
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                E-mail
                            </td>
                            <td>
                                <input type="email" class="txt-Box" name="mail" value="" disabled>
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Phone No
                            </td>
                            <td>
                                <input type="number" class="txt-Box" name="phone" value="">
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Facebook
                            </td>
                            <td>
                                <input type="url" class="txt-Box" name="phone" value="">
                            </td>
                        </tr>
                        <tr>
                            <td class="font-Normal">
                                Linked In
                            </td>
                            <td>
                                <input type="url" class="txt-Box" name="phone" value="">
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Address
                            </td>
                            <td>
                                <input type="text" class="txt-Box" name="address" value="">
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <center>
                    <button class="btn-Confirm" name="save">Save</button>
                </center>
            </div>
            <div class="col-sm-4"></div>

        </div>
        <br>

</body>
</html>