<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--CSS LINK-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/App.css">
    <link rel="stylesheet" href="/css/Admin.css">

    <title>Faculty Post</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">    
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand" href="/adminhome">  Nazib Mahfuz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/adminhome">
                        <button type="button" class="btn btn-light">
                            Home
                        </button>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/adminhome/facultyPost">
                        <button type="button" class="btn btn-light">
                            Faculty Post 
                        </button>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/adminhome/alumniPost"> 
                        <button type="button" class="btn btn-light">
                            Alumni Post
                        </button>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/adminhome/studentPost">
                        <button class="btn btn-light">
                            Student Post
                        </button>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <button class="btn btn-danger">
                            Logout
                        </button>
                    </a>
                </li>
    
            </div>
        </nav>
        <br><br><br>
    
          <center>
            <h2>All Posts List</h2>
          </center>
            <hr>
            <table border="0" width="100%">
                <tr class="table-header">
                    <td>Post ID</td>
                    <td>Post Date</td>
                    <td>Name</td>
                    <td>Details</td>
                    <td>Image</td>
                    <td>Videos</td>
                    <td>Actions</td>
                </tr>
                <tr class="postDetails">
                    <td>01</td>
                    <td>02.02.2020</td>
                    <td>Nazib Mahfuz</td>
                    <td>I am Nazib Mahfvgfdvgbsdjbvsdjkb</td>
                    <td> <img src="/images/n2.JPG" height="100px" width="100px"></td>
                    <td> 
                        <video width="100px" height="100px" controls>
                            <source src="/videos/video.mp4" type="video/mp4">
                        </video>
                    </td>
                    <td><button class="btn btn-danger">Delete</button></td>
    
                </tr>
                <tr>
                    <td colspan="7"><hr></td>
                </tr>  
                
                <tr class="postDetails">
                    <td>01</td>
                    <td>02.02.2020</td>
                    <td>Nazib Mahfuz</td>
                    <td>I am Nazib Mahfvgfdvgbsdjbvsdjkb</td>
                    <td> <img src="/images/n2.JPG" height="100px" width="100px"></td>
                    <td> 
                        <video width="100px" height="100px" controls>
                            <source src="/videos/video.mp4" type="video/mp4">
                        </video>
                    </td>
                    <td><button class="btn btn-danger">Delete</button></td>
    
                </tr>
                <tr>
                    <td colspan="7"><hr></td>
                </tr>             
    
                <tr class="postDetails">
                    <td>01</td>
                    <td>02.02.2020</td>
                    <td>Nazib Mahfuz</td>
                    <td>I am Nazib Mahfvgfdvgbsdjbvsdjkb</td>
                    <td> <img src="/images/n2.JPG" height="100px" width="100px"></td>
                    <td> 
                        <video width="100px" height="100px" controls>
                            <source src="/videos/video.mp4" type="video/mp4">
                        </video>
                    </td>
                    <td><button class="btn btn-danger">Delete</button></td>
    
                </tr>
                <tr>
                    <td colspan="7"><hr></td>
                </tr>             
            </table>
</body>
</html>