<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--===========================Bootstrap 4 CDN Link=======================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--Google Fonts Link-->
    <link href="https://fonts.googleapis.com/css?family=Cuprum|El+Messiri|Lobster&display=swap" rel="stylesheet">

    <!--CSS Link-->
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Profile</title>
</head>
<body class = "studentProfileBody">
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand" href="/adminhome">  Nazib Mahfuz &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    
                  <a class="nav-link" href="/adminhome">
                    <button class="btn btn-light">
                        Home
                    </button>
                    <span class="sr-only">(current)</span></a>
                </li>
            </div>
        </nav>

        <br><br><br>
        
        <div class="row">
            <!--Left Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
            </div>

            <!--Middle Part-->
            <div class="col-sm-8 bg card">
                <!--Profile Picture Section-->
                <br>
                <center>
                    <div class="container">
                        <img src="/images/n2.JPG" class="rounded-circle" height="200px" width="30%">
                    </div>
                    <text class="displayName">Nazib Mahfuz</text>
                </center>
                <br>
                <center>
                    <a href="/adminhome/editProfile"><button class="btn btn-info">Update Profile</button> </a>
                </center>
                <br><br>
            </div>

            <!--Right Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
                
            </div>

            
        </div>

        <br>
        <!--Information Part-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <table border="0" width="100%">
                        <tr>
                            <td class="infoHeading">
                                Email
                            </td>
                            <td class="infoItems">
                                nazibmahfuz60@gmail.com
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Phone No
                            </td>
                            <td class="infoItems">
                                01777127618
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Facebook
                            </td>
                            <td class="infoItems">
                                <a href="#">https://www.facebook.com</a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                LinkedIn
                            </td>
                            <td class="infoItems">
                                <a href="#">https://www.linkedin.com</a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Address
                            </td>
                            <td class="infoItems">
                                House:36, Road:19, Nikunja-02
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        <br>
        <!--Fotter-->
        <div class="fotter">
            copyright@nazib
        </div>
       
</body>
</html>